* {
    margin: 0px;
    padding: 0px;
}
.bg {
    width: 100%;
    display:flex;
    flex-direction: column; 
}
#bg-img {
    height: 500px;
    width: 100%;
 z-index: 1;
 position: relative;
}
.layer {
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
position: absolute;
top:0;
    
}
.nav {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    position: absolute;
    top:0;
}
#logo {
  height:50px;
  width:20%;
 display:flex;
 align-items:center;
 margin-right:70px;
}
#logo span{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right:6px;
    color:beige;
}
 .nav img{
    height:50px;
object-fit: contain;
 }
.option {
    height:50px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    font-size: 15px;
 font-weight: 500;
 margin-left:80px;
}
.option i{
    font-size:17px;
}
.option li {
    list-style: none;
}
a {
    text-decoration: none;
    color: beige;
} 
.option a:hover{
    color:coral;
text-decoration: 0.5px solid underline;
} 
#home {
    width: 40%;
    position: absolute;
    top: 0px;
    z-index: 4;
    color: white;
    margin: 20px;
}
.top {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 50px;
    left:20px;
}
.heading {
    margin: 80px 20px 0px 150px;
    padding: 20px;
    letter-spacing: 1px;
    font-size: 20px;
}
.heading p {
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 13px;
}
#get {
    background: transparent;
    height: 30px;
    width: 20%;
    border: 1px solid rgb(131, 130, 130);
    color: white;
    border-radius: 15px;
    margin-left: 170px;
    font-size: 12px;
    font-weight: 600px;
    box-shadow: 0px 3px 15px rgba(210, 209, 209, 0.7);
}
#get:hover {
    border: 1.5px solid white;
    background-color: rgba(0, 0, 0, 0.1);
}

#about { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(40, 35, 30, 0.9);
    color: beige;

}

#about span {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: 1px solid rgb(250, 250, 250) underline;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 50px 0px;
    color: beige;
}

.left {
  width: 30%;
    margin:30px 0px 0px 0px;
   display:flex;
   justify-content: center;
} 

.left img {
    height: 250px;
    width: 65%;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom right;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right:20px;

}

.right p {
    letter-spacing: 1px;
    font-size: 14px;
}

.special img {
    width: 100%;
    height: 550px;
    position:absolute;
    z-index:1;
}
.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top:0px;
    z-index:2;
}

.glass span {
    color: beige;
    text-decoration: 1px solid underline;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top:30px;
}
.card{
    height:400px;
    width:100%;
    margin-top:40px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.card div{
    height:280px;
    width:140px;
    background-color: beige;
    margin:10px;
    border-radius:4px;
    font-size:18px;
    font-weight:bold;
    color:brown;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}
.card img{
    height:250px;
    width:100%;
    object-fit:cover;
}
.card div:hover{
    transform: scale(1.2);
    transition:0.3s ease-in;
    border:1.5px solid rgb(69,68,68);
}

.orders {
    height: 630px;
    width: 100%;
    background-color: rgba(233, 166, 80, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders span {
    color: rgb(116, 52, 7);
    font-size: 24px;
    font-weight: bold;
    text-decoration: 1px solid underline;
    margin-top: 25px;

}

.types {

    height: 500px;
    width: 100%;
    margin: 10px;
}

.types img {
    height: 500px;
    width: 60%;
    object-fit: fill;
    padding: 20px 20px 20px 200px;
}
/*.know{
    height:300px;
    width:100%;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:1030px;
}
.left-img{
    height:300px;
    width:30%;
    margin-left:-100px;
}
.left-img img{
    width:70%;
    height:200px;
    margin-top:50px;
}
.center{
    height:300px;
    color:rgb(240, 216, 157);
    display:flex;
    align-items: center;
    flex-wrap:wrap;  
}
.content h2{
    letter-spacing: 1px;
}
.des{
    color:rgb(240, 216, 157);
    height:280px;
    width:60%;
padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.des h4{
    height:150px;
    width:100%;
    letter-spacing: 2px;
}
.des button{
    height:35px;
    width:150px;
    background-color: brown;
    outline: none;
    border:none;
    border-radius:8px;
    color:beige;
    font-size:15px;
}
.des button:hover{
    background-color: orange;
    transition: all 1s ease-in-out;
}
.coffee{
    height:850px;
    background-color: rgba(233, 166, 80, 0.7);
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:wrap;
    position:relative;
    top:-404px;
}
.coffee div{
    height:350px;
    width:25%;
    background-color: rgb(251, 251, 250);
    padding:10px;
    border-radius:5px;
    display:flex;
    flex-direction: column;
align-items: center;
font-size:24px;
color:brown;
margin-top:30px;
transition: all 0.6s;

}
.coffee div:active{
    transform:rotateY(180deg);
}
.coffee div img{
    height:250px;
    width:85%;
    margin-top:5px;
}
.coffee div button{
    height:25px;
    width:50%;
    margin-top:18px;
    background-color: rgb(89, 12, 12);
    color:white;
    border-radius:4px;
    border:none;
    outline: none;
}
.back{
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.back p{
    font-size:18px;
    margin:8px;
    color:black;
}
.back li{
    font-size:18px;
    color:black;
    margin:10px;
list-style:disc;

}
#contact{
height:500px;
width:100%;
background-color: rgb(89, 12, 12);
position:relative;
top:-600px;
display:flex;
justify-content: center;
align-items: center;
}
form{

    width:300px;
    background-image: url("coffee.jpeg");
    object-fit: cover;
    display:flex;
    flex-direction: column;
    padding:20px;
    border-radius:25px;
}
form input ,textarea{
    height:35px;
    background: rgba(210, 209, 209, 0.8);
    border:1px solid white;
    color:black;
    
    border-radius:5px;
    outline:none;
    margin:7px;
}
form ::placeholder{
    color:rgb(79, 79, 79);
  
}
form button{
height:40px;
width:90%;
margin:15px;
border-radius:7px;
outline: none;
background-color: rgb(90, 6, 6);
color:white;
font-weight: 600;
border:none;

} */